<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
    bootstrap="bootstrap.php"
    colors="true"
    cacheDirectory=".phpunit.cache"
    executionOrder="depends,defects"
    requireCoverageMetadata="false"
    beStrictAboutCoverageMetadata="false"
    beStrictAboutOutputDuringTests="true"
    failOnRisky="true"
    failOnWarning="true"
>
    <testsuites>
        <testsuite name="unit">
            <directory>Unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>Integration</directory>
        </testsuite>
    </testsuites>

    <php>
        <const name="ABSPATH" value="/var/www/html/"/>
        <const name="BMN_SCHOOLS_PLUGIN_PATH" value="/var/www/html/wp-content/plugins/bmn-schools/"/>
        <const name="BMN_SCHOOLS_PLUGIN_URL" value="http://localhost:9002/wp-content/plugins/bmn-schools/"/>
        <const name="WP_DEBUG" value="true"/>
        <const name="WP_DEBUG_LOG" value="true"/>
        <const name="WPINC" value="wp-includes"/>
    </php>

    <source restrictNotices="true" restrictWarnings="true">
        <include>
            <directory suffix=".php">../includes</directory>
        </include>
        <exclude>
            <directory>../vendor</directory>
            <directory>../tests</directory>
            <directory>../admin</directory>
        </exclude>
    </source>

    <coverage includeUncoveredFiles="true">
        <report>
            <html outputDirectory="coverage"/>
            <text outputFile="php://stdout" showOnlySummary="true"/>
        </report>
    </coverage>
</phpunit>
